<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./node_modules/cropperjs/dist/cropper.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
   html,body
{


  /* for small texs

  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;



for medium
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Source Serif Pro', serif;



for logo
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
 */







 background-color: #002651;
      
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
    .row{
      margin: 0;
      
    }
    .chat-header{
        background-color: #002651;
      height: 3.5rem;
      border-top: 4px solid white;

    }
    .chat-header ul{
  padding: 0;


    }
    .chat-header li{
    display: inline-block;
    font-size: 0.8rem;
    color: white;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
    font-family: 'Hanken Grotesk', sans-serif;
    }
   

    .chat-header-2{
        background-color: #002651;
      height: 4rem;
      color: #be6a15;
      font-family: 'Hanken Grotesk', sans-serif;
    }
    #inside-chat-header-2{
      width:100%; height: 4rem; padding: 0.5rem; 
      color: #be6a15;
      

    }
    
    .chat-header-2 h4{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #be6a15;

   
    }
    .under-btn{
      display: flex;
    width: 100%;
    background-color: #002651;
       
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size:2.2rem;
    }
.outer-chat{
  height: 5.5rem;
  background-color: #002651;
        
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}
.outer-chat h4{
  font-size: 1.2rem;
}


.group-icon i{
  margin-right: 1rem;
  color: white;
  font-size: 1.4rem;
}
.profile-name{
  display: inline-block;
  font-family: 'Hanken Grotesk', sans-serif;
  color: white;
  font-weight: 600;
  margin: 0;
  font-size: 1.4rem;

}
.your-profile-img{
border-radius: 50%;
width: 4.5rem;
height: 4.5rem;
border: 5px solid white;
    margin-left: 2rem;

}


.profile-img{
border-radius: 50%;
min-width: 3.5rem;
height: 3.5rem;
border: 1px solid white;
display: inline-block;

}

.specific-chat{
 
  padding: 0;
  
}
.list{
  padding: 0;
  border-right: 1px solid white;
}
#all-chats{
    border-radius: 1rem;
    border-top-right-radius: 0;
    height: 40.7rem;
    border-top-left-radius: 0;
    margin: 0;
  
  
}
#all-chats::-webkit-scrollbar{
    display: none;
  }
  #all-group-chats{
    border-radius: 1rem;
    border-top-right-radius: 0;
    height: 40.7rem;
    border-top-left-radius: 0;
    margin: 0;
    display: none;
    flex-direction: column;
  
  
}
  #all-group-chats::-webkit-scrollbar{
    display: none;
  }

  .overchatbtn{
    border: none;
     width: 100%; 
    outline: none; 
    text-align: left;
    background-color: none;
    height: 5.5rem;
  }


#column2{
  display: none;
  width: 100%;
  background-color: #be6a15;
}


#all {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
}
section.chat__section {
    width: 50rem;
   height: 27rem;
   background-color: #002651;
       
}
.message__area{
  padding: 1rem 1rem;
  
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    border-right: 4px solid white;
    background: white;
    
}
.message__area::-webkit-scrollbar{
  display: none;
}
#textarea-div{
  height: 2.5rem;
  background-color: #002651;

 
  
}
#textarea {
    width: 100%;
    border: none;
    padding: 22px;
    font-size: 1.3rem;
    outline: none;
    background: #FBFBFB;
    height: 72px;
    position: relative;
    bottom: 0px;
  background-color: #002651;
  color: white;
  border: 4px solid white;
  border-left: 0;
    
    

}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background-color: #002651;
       
    color: white;  
    padding: auto;
}
.outgoing {
    background-color: #002651;
       
    color:white;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

















.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
 
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}



.shadow-none {
  box-shadow: none!important;
}


.f-icon{
  font-size:1.8rem;
  text-decoration: none;
}


.copyright{
  text-decoration: none;
}
.my-5{
margin: 0;
}
.footer-features a{
text-decoration: none;

}



.card-box {
padding: 2px;
border-radius: 1rem;
margin-bottom: 3px;
background-color: #fff;
border: 0.5rem solid black;
}



.content h4 {
line-height: 10px;
font-size: 12px;
}


.chellenges-profile-container{
overflow: auto;
white-space: nowrap;
width: 100%;
padding: 1rem;

}
.chellenges-profile-container::-webkit-scrollbar {
  display: none;
}


.pbox{
  display: inline-block;
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
}



.pimgdiv{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 3rem;
  height:3rem;
 margin-bottom: 1rem;
}
.pimg{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
/* .creategroup,.groupname{
  margin-left: 93%;
} */





#chat_group{
    display: flex;
    font-weight: 400;
    background-color: #002651;

    color: white;
    border-top: 2px solid white;
   
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
  
  
    
}
#chat_text{
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size:1.4rem;
    font-weight: 600;
    color: #be6a15;
   width: 50%;
  height: 2.5rem;
}

#left-flex{
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    height: 100vh;

}
#community_text{
    cursor: pointer;
    padding: 0 4px;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #be6a15;
   width: 50%;
   height: 2.5rem;
}

#search_tgl{
  
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
}

#search{
        cursor: pointer;
    color: white;
    font-size: 13px;
    width: 23px;


    }

    #search_tgl button{
        border: none;
    width: 27px;
    }

    #search_tgl i{
        color: white;
    font-size: 1.2rem;
    }

    #search_tgl i:hover{
        color: #be6a15;
   
    }
    #ul_chat{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-family: 'Hanken Grotesk', sans-serif;
    }
    #logo{
      font-size: 1.3rem;
      color:white;
      font-family: 'Karla', sans-serif;
      font-weight: 600;
      margin-left:1.5rem;
      margin-left: -6px;
     
    }
    #logo:hover{
        color: #be6a15;
        
    }
    #image_container{
      padding-top: 0.5rem;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 5px;
    gap: 1rem;
    color: white;
    padding-left: 17px;
    padding-right: 17px;
    }

    #plus, #community {
      cursor: pointer;
      font-size: 1.1rem;
      color: white;
    }
    #plus:hover{
      font-weight: 600;
      color: #be6a15;
    }
    #community:hover{
      font-weight: 600;
      color: #be6a15;
    }
    #nav-toggle{
    
    background: #002651;
    border-top: 2px solid white;
    margin-top: 13px;
    }

    #three-dot-content{
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      color: white;
      margin-left: -11px;
    
    }
    #three-dot-content i{
      color: white;
      font-size: 2rem;
    }
    #three-dot-i{
    font-size: 1.5rem;
  }
 
  #search_tgl i{
    font-size: 1rem;
  }
  </style>

  <style>
   @media only screen and 
(min-width:900px ){


  #three-dot-i{
    font-size: 2.3rem;
  }
 
body{
    background-color: #002651;
}
   
    #chat_text,#community_text{
        font-size: 1.9rem;
    }
    #search_tgl{
        display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    margin-right: 0.9rem;
    }
    #search_tgl i{
        color: white;
    font-size: 2.2rem;
    display: flex;
   
    }
  
    

    #image_container{
      padding-top: 1rem;
      justify-content: space-between;
      padding-left: 5px;

    }
    
    #logo{
      font-size: 1.7rem;
      margin-left: 1px;
      color: white;

    }
    #column2{
      background: white;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    display: flex;

    width: 100%;
    border: none;
    
    }
    #chat-section{
      width: 100%;
      font-family: 'Hanken Grotesk', sans-serif;
    }
    #left-flex{
      display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    font-family: 'Hanken Grotesk', sans-serif;

    }
    #flex-row{
      display: flex;
    flex-direction: row;
    font-family: 'Hanken Grotesk', sans-serif;
   
    }
    .chat-header{
        height: 6rem;
        padding-top: 0.4rem;
        font-family: 'Hanken Grotesk', sans-serif;
    }
    .chat-header-2{
      
     height: 7rem;
      background-color: #002651;
      border-top: 4px solid white;
      border-right: 4px solid white;
      font-family: 'Hanken Grotesk', sans-serif;
      
    }
    .chat-header-2 h4{
        font-size: 1.7rem;
        color: white;
        margin-left: 0;
        font-family: 'Hanken Grotesk', sans-serif;

    }
    #three-dot-content i{
      color: white;
      font-size: 1.5rem;
      margin-left: 6px;
      padding-left: 5px;

    }
 
  }
    
  </style>
  <style>#profile{
    gap: 5.5%;
    display: flex;
    justify-content: center;
    width:100%;
    background-color: white;
    flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
   font-family: 'Hanken Grotesk', sans-serif;
  
 
 }
 #profiless{
   display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     background-color: #002651;
  
     border-radius: 5px;
     margin-top: 2px;
     margin-bottom: 2px;
     padding: 0.5rem;
     font-family: 'Hanken Grotesk', sans-serif;
 
 }
 #main_content{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     padding-left: 3px;
     font-family: 'Hanken Grotesk', sans-serif;
     width: 11rem;
 }
 
 #image-div{
 height: 4rem;
   width: 4rem;
   border: 5px solid #be6a15;
   text-align: center;
   display: flex;
   border-radius: 50%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
 

 }
 
 #image-div img{
 width: 3.5rem;
   height: 3.5rem;
   border-radius: 50%;
 }
 #button-div button{
  background-color: white;
    color: black;
    width: 3rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    height: fit-content;
    background: #be6a15;
    color: white;
    /* border: navajowhite; */
    border: none;
}
 



 #details-div{
 font-size: 1rem;
 font-family: 'Hanken Grotesk', sans-serif;
 
 }
 #main_content p{
  display: none;
  font-family: 'Hanken Grotesk', sans-serif;
 }
 #fname{
  color: #be6a15;
    font-size: 1rem;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: monospace;
    font-weight: 300;

 }
 #fcollege{
  color: white;
  font-size: 1rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: monospace;
    font-weight: 300;
 }
 #icon{
 display: block;
     display: flex;
     margin-top: -9%;
     font-family: 'Hanken Grotesk', sans-serif;
 }

     @media only screen and 
(min-width:700px ){
  #profile{
    gap: 5.5%;
    display: flex;
    justify-content: center;
    width:100%;
    background-color: white;
    flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
   font-family: 'Hanken Grotesk', sans-serif;
   padding: 1rem 20%;
 
 }
 #profiless{
   display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     background-color: #002651;
     padding-top: 1rem;
     padding-bottom: 1rem;
     border-radius: 5px;
     margin-top: 1rem;
     margin-bottom: 1rem;
     padding: 1rem;
     font-family: 'Hanken Grotesk', sans-serif;
 
 }
 #main_content{
  
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     padding-left: 3px;
     font-family: 'Hanken Grotesk', sans-serif;
 }
 
 #image-div{
 height: 7rem;
   width: 7rem;
   border: 5px solid #be6a15;
   text-align: center;
   display: flex;
   border-radius: 50%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
 

 }
 
 #image-div img{
 width: 6.5rem;
   height: 6.5rem;
   border-radius: 50%;
 }
 #button-div button{
 background-color: white;
 color:black;
 width: 9rem;
 height: 3rem;
 font-size: 1.1rem;
 font-weight: 600;
 border-radius: 6px;
    width: fit-content;
    padding: 0.5rem 2rem;
    height: fit-content;
    background: #be6a15;
    color: white;
}
 



 #details-div{
 font-size: 1.3rem;
 font-family: 'Hanken Grotesk', sans-serif;
 
 }
 #main_content p{
  display: none;
  font-family: 'Hanken Grotesk', sans-serif;
 }
 #fname{
  color: #be6a15;
  font-size: 1.3rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: monospace;
    font-weight: 300;

 }
 #fcollege{
  color: white;
  font-size: 1.1rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: monospace;
    font-weight: 300;
 }
 #icon{
 display: block;
     display: flex;
     margin-top: -9%;
     font-family: 'Hanken Grotesk', sans-serif;
 }
 
}
#group-input-div{
  display: none;
  align-items: center;
  height: 2.3rem;
background: #002651;
    padding: 29px 0px;
    flex-direction: row;
    padding: 29px 0px;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
#community-name{
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
    color: black;
}
#create-community{
  color: white;
    font-size: 1.2rem;
    font-family: monospace;
    font-family: 'Hanken Grotesk', sans-serif;
    background: #be6a15;
    padding: 6px;
    border-radius: 5px;
    width: 7rem;
    text-align: center;
    cursor: pointer;
}
#community-input-div span{
font-size: 1.2rem;
color: white;
font-family: 'Hanken Grotesk', sans-serif;
}
#profile{
  display:none;
}
 </style>
</head>
<body class="vsc-initialized" data-new-gr-c-s-check-loaded="14.1101.0" data-gr-ext-installed="">
  <div id="group-input-div">
    <div id="community-input-div">
      <span>Community Name</span>
    <input  type="text" name="" id="community-name">
  </div>
    <div id="create-community">Create</div>
  </div>
  
  
  
  
  <!-- <div id="group-input-div" style="
        width: 100%;
        display: none;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    ">
          <input id="community-name" type="text" placeholder="Community Name" style="
        /* width: 141%; */
        width: 79%;
        height: 2rem;
        border-radius: 3px;
        font-size: 1.2rem;
        padding-left: 1rem;
    "><div style="
        /* width: 100%; */
        /* height: 3rem; */
        width: 54%;
    ">
            <button id="create-community" type="button" style="
        height: 2rem;
        /* width: 110%; */
        /* padding: 0 1rem; */
        border-radius: 3px;
        width: 100%;
    ">Create Community</button>
        </div>
        
        </div> -->

  <div id="main-row" class="">
    
     
      <div id="flex-row"> 
<div  id="left-flex">
  <div class="chat-header" style="

">
  <nav style="font-family: 'Hanken Grotesk', sans-serif;" class="">
      <div class="">
        <div id="image_container">
          <div>
     <h3 id="logo">Campus Tree</h3>
    </div>
     <div id="search_tgl">

<div>
  <i id="plus" class="fa-solid fa-user-plus"></i>
  
</div>
<div style="cursor: pointer;" id="start-community">
  <i id="community" class='fas fa-users' style=''><span><i style="margin-bottom: 5px;" class="fa fa-plus"></i></span></i>
</div>
      <div id="search" class="creategroup">
      
        </div>
      </div>
      <div>
        <button id="three-dot" style="border: none; background: none; cursor: pointer; "  type="button"  aria-controls="nav-toggle" aria-expanded="false" aria-label="Toggle navigation">
          <span id="" class=""><i id="three-dot-i" class="fa-solid fa-ellipsis-vertical" style="color: white;"></i></span>
        </button>
      </div>
        </div>
        <div class="" id="nav-toggle" style="display: none;">

          <div id="three-dot-content">
              <li id="plus" value="ravi.sinhmar28@gmail.com" name="Ravi">
                  <span>
                    <a style="color: white; text-decoration: none; font-weight: 500; font-family: monospace;" href="/hackathon">
                      Hackathon
                    </a>
                   </span>
                </li>
                <li id="community">
                 <span>

                  <a style="color: white; text-decoration: none; font-weight: 500; font-family: monospace;" href="myprofile">
                     My profile
                  </a>
                 </span>
            
                </li>
                <li>
                  <span>

                    <a style="color: white; text-decoration: none; font-weight: 500; font-family: monospace;" href="/announcement">
                      Announcement
                    </a>
                  </span>
                </li>
                <li id="community">
                 <span>

                  <a style="color: white; text-decoration: none; font-weight: 500; font-family: monospace;" href="/logout">
                    Logout 
                  </a>
                 </span>
            
                </li>
          </div>
        </div> 
       
      </div>
    </nav>
    </div>
      <div id="chat_group">
        
            <div id="chat_text">
                Chat
            </div>
            <div id="community_text">
                Community
            </div>
        
      </div>
    <div id="all-chats" style="">
  <!--fetch-->
    </div>
    <div id="all-group-chats" style="">
    <!--fetch-->
    </div>
  </div>
    
    <div id="column2" class="specific-chat form" style="
    background: white; 
">
      <div class="chat-header-2" style="
   
   
">
        <div  id="inside-chat-header-2" style="">
          <ul id="ul_chat">
           <img class="your-profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&amp;usqp=CAU" alt="">
            <h4 class="your-profile-name">Ravi Sinhmar</h4>
          </ul>
           </div>
        </div>
        
         
          <div class="message__area" style="
   
"></div>
         
              <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..." style=";height: 72px;"></textarea>
        
      
   
    </div>

  </div>
  </div>
 

      <div id="chat-community-div"> 
        <div id="out-profile" style="
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        background: rgb;
        background: none;
        height: -23rem;
        align-items: center;
    ">
        



      <div id="profile">
    
      </div>
    </div>

      </div>
   



<!-- Start of chellenges Profile Recomendations -->

</body>

    <script src="https://kit.fontawesome.com/1b26aa43df.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
  
 <script>
  
const socket = io()
let cookies_user_id;
let cookies_user_name;
const plus = document.getElementById("plus");
let isgroup=0;
let arr_chats=[];



const community = document.getElementById("community");

const search = document.getElementById("search");
const chat_section = document.getElementById("chat-section");
const textarea = document.getElementById("textarea");
const chats = document.getElementById("chat_text");
const commnunitychats = document.getElementById("community_text");
const chatcol = document.getElementById("column2");
const nav_tgl = document.getElementById("nav-toggle");
const three_dot = document.getElementById("three-dot");
const chat_group = document.getElementById("chat_group");
const main_row = document.getElementById("main-row");
const profile = document.getElementById("profile");
const community_name = document.getElementById("community");
const create_community = document.getElementById("create-community");



const allchats = document.getElementById("all-chats");
const all_group_chats = document.getElementById("all-group-chats");
let messageArea = document.querySelector('.message__area')
let groupname=document.querySelector(".groupname")
let creategroup = document.querySelector('.creategroup')
let row = document.querySelector('.row')
let content = document.querySelector('.content')
let yourProfileName = document.querySelector('.your-profile-name')
let outerchat = document.querySelector('.outer-chat')
let overchatbtn = document.querySelector('.overchatbtn')

const fname = document.getElementById("fname");
const fcollege = document.getElementById("fcollege");
const field = document.getElementById("field");
const fscore = document.getElementById("score");
const container = document.getElementById("container");
let group_input_div=document.getElementById("group-input-div");

// Some Global Variables

let username="";
let members=[];


//three dot click
 three_dot.addEventListener("click",function(){
    
    if(nav_tgl.style.display=="none"){
        nav_tgl.style.display="block"
        chat_group.style="margin-top:8.5rem"  
        
        
    }
    else if(nav_tgl.style.display=="block"){
        chat_group.style="margin-top:0rem"  
        nav_tgl.style.display="none"  
    }

 })


// Community Section Starts

// community.addEventListener("click",async function(){
//  members.push(cookies_user_id) 
   
//     isgroup=1;
//     const request=await fetch("https://campus-tree.onrender.com/startcommunity",{
//         method:"POST",
//         headers:{
//           "Content-Type":"application/json",
//         },
//        }).then((Response)=>{
//            return Response.json();
//        }).then((data)=>{

// console.log(data);
//         data.details.forEach((details)=>{
//  const pbox=document.createElement("div");
//  pbox.classList.add('pbox');
//  container.appendChild(pbox);


//  const pinnerbox=document.createElement("div");
//  pinnerbox.classList.add('text-center','card-box');
//  pbox.appendChild(pinnerbox);


//  const numbercard=document.createElement("div");
// numbercard.classList.add('number-card', 'pt-2','pb-2');
// pinnerbox.appendChild(numbercard);


// const pimgdiv=document.createElement("div");
// pimgdiv.classList.add("thumb-lg","number-thumb","mx-auto","pimgdiv");
// numbercard.appendChild(pimgdiv);


// const pimg=document.createElement("Img");
// pimg.classList.add("pimg");
// pimg.setAttribute("src","https://images.unsplash.com/photo-1587778082149-bd5b1bf5d3fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5NDUyNDk0fHxlbnwwfHx8fA%3D%3D&w=1000&q=80")
// pimgdiv.appendChild(pimg)


// const pinfodiv=document.createElement("div");
// numbercard.appendChild(pinfodiv);


// const pname=document.createElement("h4");
// pname.setAttribute("id","fname");
// pname.innerHTML=details.full_name;
// pinfodiv.appendChild(pname);


// const pcollege=document.createElement("h4");
// pcollege.setAttribute("id","fcollege");
// pcollege.innerHTML=details.college;
// pinfodiv.appendChild(pcollege);



// const pfield=document.createElement("p");
// pfield.setAttribute("id","field");
// pfield.innerHTML=details.user_id;
// pinfodiv.appendChild(pfield);

// const pbutton=document.createElement("button");
// pbutton.classList.add('btn',"btn-primary");
// pbutton.setAttribute("onclick", "hello2(value,name)");
// pbutton.setAttribute("name", details.full_name);
// pbutton.setAttribute("value", details.email);

// pbutton.innerHTML="add"
// numbercard.appendChild(pbutton)


// const scoreParg=document.createElement("p");
// numbercard.appendChild(scoreParg)
// const pscore=document.createElement("SPAN");
// scoreParg.appendChild(pscore);


// const spaninner=document.createElement("p");
// spaninner.innerHTML=`score:${"0"}`;
// pscore.appendChild(spaninner);
        
//         });


//        })
// }
// );

let chat_community_div=document.getElementById("chat-community-div")
let community_input=document.getElementById("community-name")

create_community.addEventListener("click", async function(){
  profile.style.display="none"
  group_input_div.style.display="none"
chat_community_div.style.display="none"
main_row.style.display="block"
isgroup=1;
 let group_id = Date.now() + Math.random();
 group_id = group_id.toString().replace(".","_");
let group_name=community_input.value;
      
   
        const request=await fetch("https://campus-tree.onrender.com/creategroup",{
            method:"POST",
            headers:{
              "Content-Type":"application/json",
            },
            body:JSON.stringify({chat_id:group_id,members:members,admin_id:cookies_user_id,person1:group_name,person2:group_name,isgroup:true})

           }).then((Response)=>{
            return Response.json();
        }).then((data)=>{
            
        //  console.log(data.admin_docs[0].chatname)
            // alert(data.allchats.length);
for(let i=0;i<data.admin_docs.length;i++){
    const groupbutton=document.createElement("button");
    groupbutton.classList.add("button","overchatbtn");
    
    groupbutton.setAttribute("name", data.admin_docs[i].chatname);
    groupbutton.setAttribute("title", data.admin_docs[i].isgroup);
    groupbutton.setAttribute("value", cookies_user_id);
    groupbutton.setAttribute("id",data.admin_docs[i].id );
    groupbutton.setAttribute("onclick", "hello(value,name,id,title)");
   
    all_group_chats.appendChild(groupbutton)

    const underbtn=document.createElement("div");
    underbtn.classList.add("under-btn")
    groupbutton.appendChild(underbtn)
    
    const outerchat=document.createElement("div");
    outerchat.classList.add("outer-chat")
    underbtn.appendChild(outerchat)
    
    
    const groupphoto=document.createElement("img");
    groupphoto.classList.add("profile-img")
    
    groupphoto.setAttribute("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU");
    outerchat.appendChild(groupphoto);
    
    const grouph4=document.createElement("h4");
    grouph4.classList.add("profile-name")
    grouph4.innerHTML=data.admin_docs[i].chatname;
    outerchat.appendChild(grouph4);

    const groupicon=document.createElement("div");
    groupicon.classList.add("group-icon")
  
    const icon=document.createElement("i");
    icon.classList.add("fa","fa-users")
    icon.setAttribute("aria-hidden","true" );
    groupicon.appendChild(icon)
    underbtn.appendChild(groupicon)
    
}
    
})
location.reload();
})





const  hello2 =(async(v2,username)=>{
    
    if(isgroup==0){
if(arr_chats.length!=0){
    for(let i=0;i<arr_chats.all_chat.length;i++){
        if(arr_chats.all_chat[i].chatname==username){
            alert('already in chat');
            isgroup=2;
           break;
        
        }
    }

       

        
        allchats.style="display:flex;flex-direction:column"
        profile.style.display="none";
        
        main_row.style.display="block";
       
    
let new_element=document.createElement("div");

     
        let group_id = Date.now() + Math.random();
   group_id = group_id.toString().replace(".","_");
        // let check={
        //     Sentby:From,
        //     Recivedby:To
        // }
        members.push(v2);
        

       
        const request=await fetch("https://campus-tree.onrender.com/creategroup",{
            method:"POST",
            headers:{
              "Content-Type":"application/json",
            },
            body:JSON.stringify({chat_id:group_id,members:members,admin_id:cookies_user_id,person1:cookies_user_name,person2:username,isgroup:false})

           }).then((Response)=>{
            return Response.json();
        }).then((data)=>{
            
        //  console.log(data.admin_docs[0].chatname)
            // alert(data.allchats.length);
for(let i=0;i<data.admin_docs.length;i++){
    const groupbutton=document.createElement("button");
    groupbutton.classList.add("button","overchatbtn");
    groupbutton.setAttribute("name", data.admin_docs[i].chatname);
    groupbutton.setAttribute("title", data.admin_docs[i].isgroup);
    groupbutton.setAttribute("value", cookies_user_id);
    groupbutton.setAttribute("id",data.admin_docs[i].id );
    groupbutton.setAttribute("onclick", "hello(value,name,id,title)");
  
    allchats.appendChild(groupbutton)
    
    const underbtn=document.createElement("div");
    underbtn.classList.add("under-btn")
    groupbutton.appendChild(underbtn)
    
    const outerchat=document.createElement("div");
    outerchat.classList.add("outer-chat")
    underbtn.appendChild(outerchat)
    
    
    const groupphoto=document.createElement("img");
    groupphoto.classList.add("profile-img")
    
    groupphoto.setAttribute("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU");
    outerchat.appendChild(groupphoto);
    
    const grouph4=document.createElement("h4");
    grouph4.classList.add("profile-name")
    grouph4.innerHTML=data.admin_docs[i].chatname;
    outerchat.appendChild(grouph4);
}
location.reload();

}) }

else{
   
    allchats.style="display:flex;flex-direction:column"
    profile.style.display="none";
    
    main_row.style.display="block";
   

// let new_element=document.createElement("div");

   let person2=username;
    let group_id = Date.now() + Math.random();
group_id = group_id.toString().replace(".","_");
    // let check={
    //     Sentby:From,
    //     Recivedby:To
    // }
    members.push(v2);
    

   
    const request=await fetch("https://campus-tree.onrender.com/creategroup",{
        method:"POST",
        headers:{
          "Content-Type":"application/json",
        },
        body:JSON.stringify({chat_id:group_id,members:members,admin_id:cookies_user_id,person1:cookies_user_name,person2:person2,isgroup:false})

       }).then((Response)=>{
        return Response.json();
    }).then((data)=>{
        
    //  console.log(data.admin_docs[0].chatname)
        // alert(data.allchats.length);
for(let i=0;i<data.admin_docs.length;i++){
const groupbutton=document.createElement("button");
groupbutton.classList.add("button","overchatbtn");
groupbutton.setAttribute("name", data.admin_docs[i].chatname);
groupbutton.setAttribute("title", data.admin_docs[i].isgroup);
groupbutton.setAttribute("value", cookies_user_id);
groupbutton.setAttribute("id",data.admin_docs[i].id );
groupbutton.setAttribute("onclick", "hello(value,name,id,title)");

allchats.appendChild(groupbutton)

const underbtn=document.createElement("div");
underbtn.classList.add("under-btn")
groupbutton.appendChild(underbtn)

const outerchat=document.createElement("div");
outerchat.classList.add("outer-chat")
underbtn.appendChild(outerchat)


const groupphoto=document.createElement("img");
groupphoto.classList.add("profile-img")

groupphoto.setAttribute("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU");
outerchat.appendChild(groupphoto);

const grouph4=document.createElement("h4");
grouph4.classList.add("profile-name")
grouph4.innerHTML=data.admin_docs[i].chatname;
outerchat.appendChild(grouph4);
}
location.reload();

})

}
    }
   else if(isgroup==1){

members.push(v2)
if(members.length==1){
    group_input_div.style.display="flex";
}
// let data={"members":members,"chat_name":username};
// console.log(JSON.stringify(data))
        // Sending post request 
    }
    else if(isgroup==2){
   
 
        alert("Already in your Chat")
    }
});


// After Clicking Create Group Button

// creategroup.addEventListener("click",  async function(){
// isgroup=1;
//  let group_id = Date.now() + Math.random();
//  group_id = group_id.toString().replace(".","_");
// let group_name=groupname.value;
//         row.style="display:flex"
//         content.style="display:none"
//         creategroup.style.display="none"
//     groupname.style.display="none"
//         const request=await fetch("https://campus-tree.onrender.com/creategroup",{
//             method:"POST",
//             headers:{
//               "Content-Type":"application/json",
//             },
//             body:JSON.stringify({chat_id:group_id,members:members,admin_id:cookies_user_id,person1:group_name,person2:group_name,isgroup:true})

//            }).then((Response)=>{
//             return Response.json();
//         }).then((data)=>{
            
//         //  console.log(data.admin_docs[0].chatname)
//             // alert(data.allchats.length);
// for(let i=0;i<data.admin_docs.length;i++){
//     const groupbutton=document.createElement("button");
//     groupbutton.classList.add("button","overchatbtn");
    
//     groupbutton.setAttribute("name", data.admin_docs[i].chatname);
//     groupbutton.setAttribute("title", data.admin_docs[i].isgroup);
//     groupbutton.setAttribute("value", cookies_user_id);
//     groupbutton.setAttribute("id",data.admin_docs[i].id );
//     groupbutton.setAttribute("onclick", "hello(value,name,id,title)");
   


//     all_group_chats.appendChild(groupbutton)

//     const underbtn=document.createElement("div");
//     underbtn.classList.add("under-btn")
//     groupbutton.appendChild(underbtn)
    
//     const outerchat=document.createElement("div");
//     outerchat.classList.add("outer-chat")
//     underbtn.appendChild(outerchat)
    
    
//     const groupphoto=document.createElement("img");
//     groupphoto.classList.add("profile-img")
    
//     groupphoto.setAttribute("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU");
//     outerchat.appendChild(groupphoto);
    
//     const grouph4=document.createElement("h4");
//     grouph4.classList.add("profile-name")
//     grouph4.innerHTML=data.admin_docs[i].chatname;
//     outerchat.appendChild(grouph4);

//     const groupicon=document.createElement("div");
//     groupicon.classList.add("group-icon")
  
//     const icon=document.createElement("i");
//     icon.classList.add("fa","fa-users")
//     icon.setAttribute("aria-hidden","true" );
//     groupicon.appendChild(icon)
//     underbtn.appendChild(groupicon)
    
// }
    
// })
// location.reload();
// })


// community section Ends



// Single chat section start

// plus.addEventListener("click",async function(){
//     isgroup=0;
//     members.push(cookies_user_id) 
      
//        const request=await fetch("https://campus-tree.onrender.com/startcommunity",{
//            method:"POST",
//            headers:{
//              "Content-Type":"application/json",
//            },
//           }).then((Response)=>{
//               return Response.json();
//           }).then((data)=>{
   
//    console.log(data);
//            data.details.forEach((details)=>{
//     const pbox=document.createElement("div");
//     pbox.classList.add('pbox');
//     container.appendChild(pbox);
   
   
//     const pinnerbox=document.createElement("div");
//     pinnerbox.classList.add('text-center','card-box');
//     pbox.appendChild(pinnerbox);
   
   
//     const numbercard=document.createElement("div");
//    numbercard.classList.add('number-card', 'pt-2','pb-2');
//    pinnerbox.appendChild(numbercard);
   
   
//    const pimgdiv=document.createElement("div");
//    pimgdiv.classList.add("thumb-lg","number-thumb","mx-auto","pimgdiv");
//    numbercard.appendChild(pimgdiv);
   
   
//    const pimg=document.createElement("Img");
//    pimg.classList.add("pimg");
//    pimg.setAttribute("src","https://images.unsplash.com/photo-1587778082149-bd5b1bf5d3fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5NDUyNDk0fHxlbnwwfHx8fA%3D%3D&w=1000&q=80")
//    pimgdiv.appendChild(pimg)
   
   
//    const pinfodiv=document.createElement("div");
//    numbercard.appendChild(pinfodiv);
   
   
//    const pname=document.createElement("h4");
//    pname.setAttribute("id","fname");
//    pname.innerHTML=details.full_name;
//    pinfodiv.appendChild(pname);
   
   
//    const pcollege=document.createElement("h4");
//    pcollege.setAttribute("id","fcollege");
//    pcollege.innerHTML=details.college;
//    pinfodiv.appendChild(pcollege);
   
   
   
//    const pfield=document.createElement("p");
//    pfield.setAttribute("id","field");
//    pfield.innerHTML=details.user_id;
//    pinfodiv.appendChild(pfield);
   
//    const pbutton=document.createElement("button");
//    pbutton.classList.add('btn',"btn-primary");
//    pbutton.setAttribute("onclick", "hello2(value,name)");
//    pbutton.setAttribute("name", details.full_name);
//    pbutton.setAttribute("value", details.email);
   
//    pbutton.innerHTML="add"
//    numbercard.appendChild(pbutton)
   
   
//    const scoreParg=document.createElement("p");
//    numbercard.appendChild(scoreParg)
//    const pscore=document.createElement("SPAN");
//    scoreParg.appendChild(pscore);
   
   
//    const spaninner=document.createElement("p");
//    spaninner.innerHTML=`score:${"0"}`;
//    pscore.appendChild(spaninner);
           
//            });
//           })
//    }
//    );
let gptype="";
let Specific_chat_id="";
let Specific_chat_name="";

let column2=document.getElementById("column2");






const hello = ( async (value,name,id,title) => {
    all_group_chats.style.display="none"
    allchats.style.display="none";
    yourProfileName.innerHTML=name;
column2.style="display:flex;flex-direction:column";
messageArea.innerHTML="";
    socket.emit("startchat",{value:value,name:name,id:id,title:title})
    
   gptype=title;
   Specific_chat_id=id;
Specific_chat_name=name;
   const request=await fetch("https://campus-tree.onrender.com/printchats",{
           method:"POST",
           headers:{
             "Content-Type":"application/json",
           },
           body:JSON.stringify({Specific_chat_id:Specific_chat_id})
          }).then((Response)=>{
              return Response.json();
          }).then((data)=>{

       
            
for(let i=0; i<data.message.length;i++){
if(data.message[i].sentby==cookies_user_name){
    
    let msg={
        message:data.message[i].chat
    }
    appendMessage(msg, 'outgoing')
    scrollToBottom()
}
else {
    let msg={
        message:data.message[i].chat
    }
    appendMessage(msg, 'incoming')
    scrollToBottom()
}

}

          })

});

textarea.addEventListener("keyup" , (e) => {
    if (e.key == 'Enter') {
        sendMessage(e.target.value);
        
    }
});

function sendMessage(message) {
    if(gptype=="0"||gptype==false||gptype=="false"){
     
       
        let msg={
            Senderid:cookies_user_name,
           chat_id:Specific_chat_id,
           chat_name:"not a group chat",
            message:message.trim()
        }
         // Append 
     appendMessage(msg, 'outgoing')
     textarea.value = ''
     scrollToBottom()
     // Send to server 
     socket.emit('message', msg)
       
    }
    else if(gptype=="1"||gptype==true||gptype=="true"){
        
        let msg={
            Senderid:cookies_user_name,
           chat_id:Specific_chat_id,
           chat_name:Specific_chat_name,
            message:message.trim()
        }
        
 // Append 
 appendMessage(msg, 'outgoing')
 textarea.value = ''
 scrollToBottom()
 // Send to server 
 socket.emit('message', msg)
    }
}


function appendMessage(msg, type) {
    let mainDiv = document.createElement('div')
    let className = type
    mainDiv.classList.add(className, 'message')

    let markup = `
        <p>${msg.message}</p>
    `
    mainDiv.innerHTML = markup
    messageArea.appendChild(mainDiv)
}

// Recieve messages 
socket.on('testm', (msg) => {
    appendMessage(msg, 'incoming')
    scrollToBottom()
})
socket.on("sendmessage",function(msg){
    appendMessage(msg, 'incoming')
    scrollToBottom()
})
socket.on("Senderside",function(chat){
    let msg={
        message:chat
    }
    appendMessage(msg, 'outgoing')
    scrollToBottom()
})
socket.on("Reciverside",function(chat2){
    let msg={
        message:chat2
    }
    appendMessage(msg, 'incoming')
    scrollToBottom()
})
function scrollToBottom() {
    messageArea.scrollTop = messageArea.scrollHeight
}


















//my code
window.onload=(async()=>{

    cookiearray = document.cookie.split(';');
    cookies_user_id = cookiearray[1].split('=')[1];
  let  cookies_user_name_noneformate=cookiearray[2].split('=')[1];
    cookies_user_name=decodeURIComponent(cookies_user_name_noneformate)
    
    //access cookies of user

//fetch'
let x=" ";
const request= await
fetch("https://campus-tree.onrender.com/all_chats_details",{
    method:"POST",
     headers:{
        "Content-Type":"application/json",
      },
      body:JSON.stringify({cookies_user_id:cookies_user_id,cookies_user_name:cookies_user_name})

      
}).then((Response)=>{
    return Response.json();
}).then((data)=>{

    arr_chats=data;
   
    for(let i=0;i<data.all_chat.length;i++){
        const groupbutton=document.createElement("button");
        groupbutton.classList.add("button","overchatbtn");
   
        groupbutton.setAttribute("name", data.all_chat[i].chatname);
    groupbutton.setAttribute("title", data.all_chat[i].isgroup);
    groupbutton.setAttribute("value", cookies_user_id);
    groupbutton.setAttribute("id",data.all_chat[i].id );
    groupbutton.setAttribute("onclick", "hello(value,name,id,title)");
      
    const underbtn=document.createElement("div");
    underbtn.classList.add("under-btn")
    groupbutton.appendChild(underbtn)
    
    const outerchat=document.createElement("div");
    outerchat.classList.add("outer-chat")
    underbtn.appendChild(outerchat)
    
    
    const groupphoto=document.createElement("img");
    groupphoto.classList.add("profile-img")
    
    groupphoto.setAttribute("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU");
    outerchat.appendChild(groupphoto);
    
    const grouph4=document.createElement("h4");
    grouph4.classList.add("profile-name")
    grouph4.innerHTML=data.all_chat[i].chatname;
    outerchat.appendChild(grouph4);

   

if(groupbutton.title==true||groupbutton.title=="true"||groupbutton.title==1||groupbutton.title=="1"){
    const groupicon=document.createElement("div");
    groupicon.classList.add("group-icon")
  
    const icon=document.createElement("i");
    icon.classList.add("fa","fa-users")
    icon.setAttribute("aria-hidden","true" );
    groupicon.appendChild(icon)
    underbtn.appendChild(groupicon)
    all_group_chats.appendChild(groupbutton)
}
else if(groupbutton.title==false||groupbutton.title=="false"||groupbutton.title==0||groupbutton.title=="0"){
    allchats.appendChild(groupbutton)
}
    }
        
    })

})

















































//media query

function myFunction(x) {
    if (x.matches) { // If media query matches



        chatcol.style.display="none"
        if(allchats.style.display=="flex"){
            all_group_chats.style.display="none"
            allchats.style.display="flex"
        }
        else if( all_group_chats.style.display=="flex"){
            allchats.style.display="none"
            all_group_chats.style.display="flex"
        }
        
        chats.addEventListener("click",function(){
            chatcol.style.display="none"
            all_group_chats.style.display="none"
        allchats.style="display:flex;flex-direction:column"
        
        })
        commnunitychats.addEventListener("click",function(){
      
            chatcol.style.display="none"
            allchats.style.display="none"
            all_group_chats.style.display="flex"
        }
        )
        
    } else { 

         chatcol.style.display="flex"
         if(allchats.style.display=="flex"){
            all_group_chats.style.display="none"
            allchats.style.display="flex"
        }
        else if( all_group_chats.style.display=="flex"){
            allchats.style.display="none"
            all_group_chats.style.display="flex"
        }
         
        chats.addEventListener("click",function(){
            chatcol.style.display="flex"
            all_group_chats.style.display="none"
        allchats.style.display="flex"
        
        })
        commnunitychats.addEventListener("click",function(){
            chatcol.style.display="flex"
            allchats.style.display="none"
            all_group_chats.style.display="flex"
        }
        )
     
        
    }
  }
  
  var x = window.matchMedia("(max-width: 750px)")
  myFunction(x) // Call listener function at run time
  x.addListener(myFunction) // Attach listener function on state changes









  //start chat with someone fetch
  plus.addEventListener("click", async function(){
    isgroup=0;
    profile.style.display="flex"
    group_input_div.style.display="none";
    main_row.style.display="none";

    const response = await fetch("https://campus-tree.onrender.com/other_profile", {      //localhost:3000
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
       headers: {
        'Content-Type': 'application/json'

       },
      
   


        // body data type must match "Content-Type" header
    }).then((Response)=>{
       
      return Response.json();
    }).then((data)=>{
        
      //console.log(data);
     
//allData=data;
//console.log(allData);
  

let profile=document.getElementById("profile");+


data.forEach((data,n)=>{


  // let pbox=document.createElement("div");
  // pbox.setAttribute("class","pbox");
  // profiless.appendChild(pbox);
   user_id=data.user_id.toString();

  
 
//console.log(data.user_id.toString());


profile.innerHTML+=`
   
<div id="profiless">
<div id="image-div" class="">
  <img  src=${data.profile_image}></div>

      <div id="main_content" class="">
        <div id="details-div">
            <h4 id="fname"> ${data.fullname}</h4>
            <h4 id="fcollege">@${data.user_id}</h4>
            </div>
           <p><span></span></p>
            <p>score:0</p><p></p></div>
<div id="button-div">
<button name="${data.fullname}" value="${data.user_id}"   class="btn btn-primary" onclick="hello2(value,name)" >Message</button>
</div>
            
</div>

     `;
              
              can_search=true;
            });
    

    }).catch((e)=>{
       
    });
  })


  community.addEventListener("click", async function(){
    isgroup=1;
    profile.style.display="flex"
    main_row.style.display="none"
  
    const request = await fetch("https://campus-tree.onrender.com/other_profile", {      //localhost:3000
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
       headers: {
        'Content-Type': 'application/json'
       },
       
        // body data type must match "Content-Type" header
    }).then((Response)=>{
      return Response.json();
    }).then((data)=>{
    
      //console.log(data);
     
//allData=data;
//console.log(allData);
  

let profile=document.getElementById("profile");+


data.forEach((data,n)=>{


  // let pbox=document.createElement("div");
  // pbox.setAttribute("class","pbox");
  // profiless.appendChild(pbox);
   user_id=data.user_id.toString();

  
 
//console.log(data.user_id.toString());


profile.innerHTML+=`
   
<div id="profiless">
<div id="image-div" class="">
  <img  src=${data.profile_image}></div>

      <div id="main_content" class="">
        <div id="details-div">
            <h4 id="fname">${data.fullname}</h4>
            <h4 id="fcollege">@${data.user_id}</h4>
            </div>
           <p><span></span></p>
            <p>score:0</p><p></p></div>
<div id="button-div">
<button id="add-btn" name="${data.fullname}" value="${data.user_id}"   class="btn btn-primary" onclick="hello2(value,name)" >ADD</button>
</div>
            
</div>





     `;
              
              can_search=true;
            });
    
          

    }).catch((e)=>{
        
        
    });
  })

 </script>
</html>