@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
   html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
    .row{
      margin: 0;
      
     
    }
    .chat-header{
      background-color: rgb(4, 162, 234);
      height: 5rem;

    }
    .chat-header ul{
  padding: 0;

    }
    .chat-header li{
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
   
    }
    #community,#plus,#search{
      cursor: pointer;
    }

    .chat-header-2{
      background-color: rgb(4, 162, 234);
      height: 5rem;
    }
    
    .chat-header-2 h4{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    font-family: serif;
   
    }
.outer-chat{
  height: 5.5rem;
  background-color: #166697;
  border-bottom: 1px solid black;
  margin: 0;
  display: flex;
  padding-top: 0.5rem;
 
 
}
.profile-name{
  display: inline-block;
  width: 20rem;
  margin-left: 1rem;
  margin-top: 1.3rem;
  font-family:serif;
  color: white;
  font-weight: 600;

}
.your-profile-img{
border-radius: 50%;
width: 3.5rem;
height: 3.5rem;
border: 1px solid white;

}


.profile-img{
border-radius: 50%;
min-width: 3.5rem;
height: 3.5rem;
border: 1px solid white;
margin-top: 0.5rem;
margin-left: 1rem;
display: inline-block;

}

.specific-chat{
  background-color: #166697;
  padding: 0;
  border-left: 1px solid white;
}
.list{
  padding: 0;
  border-right: 1px solid white;
}
#all-chats{
  height: 41rem;
  overflow-y: scroll;
  overflow: auto;
  
}
#all-chats::-webkit-scrollbar{
    display: none;
  }

  .overchatbtn{
  background-color: none;
    border: none;
     width: 100%; 
    outline: none; 
    text-align: left;

  }













#all {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 50rem;
   height: 27rem;
    background:#166697;
}
.message__area{
  padding: 1rem 1rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #166697;
    
}
.message__area::-webkit-scrollbar{
  display: none;
}
#textarea-div{
  height: 2.5rem;
  
}
#textarea {
    width: 100%;
    border: none;
    padding: 22px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
    border: 5px solid #166697;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: white;
    color: #166697;  
    padding: 20px;
}
.outgoing {
    background: white;
    color: #166697;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}















profiel recomendation

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}







.f-icon{
  font-size:1.8rem;
  text-decoration: none;
}


.copyright{
  text-decoration: none;
}
.my-5{
margin: 0;
}
.footer-features a{
text-decoration: none;

}



.card-box {
padding: 2px;
border-radius: 1rem;
margin-bottom: 3px;
background-color: #fff;
border: 0.5rem solid black;
}

.social-links li a {
border-radius: 50%;
color: rgba(121, 121, 121, .8);
display: inline-block;
height: 20px;
line-height: 5px;
border: 2px solid rgba(121, 121, 121, .5);
text-align: center;
width: 20px
}

.social-links li a:hover {
color: #797979;
border: 2px solid #797979
}
.thumb-lg {
height: 50px;
width: 50px;
}
.img-thumbnail {
padding:2px;
background-color: #fff;
border: 1px solid #dee2e6;
border-radius: .25rem;
max-width: 100%;
height: auto;
}
.text-pink {
color: #ff679b!important;
}

.text-muted {
color: #98a6ad!important;
}

.content h4 {
line-height: 10px;
font-size: 12px;
}


.chellenges-profile-container{
overflow: auto;
white-space: nowrap;
width: 100%;
padding: 1rem;

}
.chellenges-profile-container::-webkit-scrollbar {
  display: none;
}


.pbox{
  display: inline-block;
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
}



.pimgdiv{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 3rem;
  height:3rem;
 margin-bottom: 1rem;
}
.pimg{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.creategroup,.groupname{
  margin-left: 93%;
}